h1{
    text-align: center;
    color:aquamarine;


}
label{
    color:burlywood;
    padding: 4px;
    text-align: center;
    display :inline-block;
    width: 20%;
    text-align: right;
}

div{

    background-color:rgba(0, 0, 0, 0.5);
    box-shadow: 4px solid rgb(15, 135, 135);
    text-align: center;
    width: 40%;
    margin: auto;
    padding-top: 10px;
}
body{
    background-image: url("https://img.freepik.com/free-vector/spot-lights-background-concept_23-2148661853.jpg?w=360");
    background-size: 100% 100vh;
}
legend{
    color:burlywood;
}