<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/about.css">
</head>
<body>
    <nav id="nav">
        <ul class="block1">
            <li class="parent">WB DESIGN</li>
        </ul>
        <ul class="block2">
            <li class="parent">
                <a href="/home" id="link">Home</a>
                <ol class="nav_ele">
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                    <li><a href="/gallary">GALLARY</a></li>
                    <li><a href="/home">LOGIN</a></li>
                    <li><a href="/home">CREATE ACCOUNT</a></li>
                </ol>
            </li>
            <li class="parent">
                <a href="about.html" id="link">ABOUT</a>
            </li>
            <li class="parent">
                <a href="/contact" id="link">Contact</a>
                <ol class="nav_ele">
                    <li><a href="">PHONE NO</a></li>
                    <li><a href="">EMAIL</a></li>
                </ol>
            </li>
            <li class="parent">
                <a href="/gallary" id="link">Gallary</a>
            </li>
            <li class="parent">
                <a href="/home" id="link">login</a>
            </li>         
        </ul>
        </ul>
    </nav>

    <div class="box">
        <h1>OUR WEBSITE!!</h1>
        <div class="img">
            <img src="http://127.0.0.1:5000/static/Img/p2.jpg" alt="" id="img">
        </div>
        <div class="text">
           <p>
           Lorem, ipsum dolor sit amet consectetur adipisicing elit. At excepturi blanditiis harum numquam. Vero possimus odio iste voluptates aut fugiat similique vel dignissimos laborum quis eaque doloribus tenetur, deserunt ad!
           </p> 
           <p>
            Websites serve various purposes, including providing information, promoting businesses or organizations, facilitating communication, offering online services, and much more. They can range from simple static pages to complex web applications that allow user interactions and data processing.Web browsers, such as Google Chrome, Mozilla Firefox, or Microsoft Edge, are used to access and view websites. Users can interact with a website's content by clicking on links, submitting forms, or engaging with other interactive elements. Overall, websites play a crucial role in our modern digital world, serving as a primary medium for information dissemination and online activities.
           </p>
        </div>
        
    </div>
    
</body>
</html>