<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALLARY</title>
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/gallary.css">
</head>
<body>
    <nav id="nav">
        <ul class="block1">
            <li class="parent">WB DESIGN</li>
        </ul>
        <ul class="block2">
            <li class="parent">
                <a href="/home" id="link">Home</a>
                <ol class="nav_ele">
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                    <li><a href="/gallary">GALLARY</a></li>
                    <li><a href="/home">LOGIN</a></li>
                    <li><a href="/home">CREATE ACCOUNT</a></li>
                </ol>
            </li>
            <li class="parent">
                <a href="/contact" id="link">Contact</a>
                <ol class="nav_ele">
                    <li><a href="">PHONE NO</a></li>
                    <li><a href="">EMAIL</a></li>
                </ol>
            </li>
            <li class="parent">
                <a href="/gallary" id="link">Gallary</a>
            </li>
            <li class="parent">
                <a href="/home" id="link">login</a>
            </li>         
        </ul>
        </ul>
    </nav>

    <div class="img">
                
        <div class="img_ele">
            <!-- <ul id="ul_ele"> -->
                <img src="http://127.0.0.1:5000/static/Img/p5.jpg" alt="" width="300px" height="500px" id="pic">
            <!-- </ul> 
            <ul id="ul_ele"> -->
                <img src="http://127.0.0.1:5000/static/Img/p2.jpg" alt="" width="500px" height="500px" id="pic">
            <!-- </ul>
            <ul id="ul_ele"> -->
                <img src="http://127.0.0.1:5000/static/Img/p3.jpg" alt="" width="500px" height="500px" id="pic">
            <!-- </ul>
            <ul id="ul_ele"> -->
                <img src="http://127.0.0.1:5000/static/Img/P4.jpg" alt="" width="500px"  height="500px" id="pic">
            <!-- </ul> 
            <ul id="ul_ele"> -->
                <img src="http://127.0.0.1:5000/static/Img/p5.jpg" alt="" width="500px" height="500px" id="pic">
            <!-- </ul> 
            <ul id="ul_ele"> -->
                <img src="http://127.0.0.1:5000/static/Img/p2.jpg" alt="" width="500px" height="500px" id="pic">
            <!-- </ul>
            <ul id="ul_ele"> -->
                <img src="http://127.0.0.1:5000/static/Img/p3.jpg" alt="" width="500px" height="500px" id="pic">
            <!-- </ul>
            <ul id="ul_ele"> -->
                <img src="http://127.0.0.1:5000/static/Img/P4.jpg" alt="" width="500px"  height="500px" id="pic">
            <!-- </ul> -->
             <!-- <ul id="ul_ele"> -->
                <img src="http://127.0.0.1:5000/static/Img/p3.jpg" alt="" width="300px" height="500px" id="pic">
            <!-- </ul> 
            <ul id="ul_ele"> -->
                <img src="http://127.0.0.1:5000/static/Img/p2.jpg" alt="" width="500px" height="500px" id="pic">
            <!-- </ul>
            <ul id="ul_ele"> -->
                <img src="http://127.0.0.1:5000/static/Img/p3.jpg" alt="" width="500px" height="500px" id="pic">
            <!-- </ul>
            <ul id="ul_ele"> -->
                <img src="http://127.0.0.1:5000/static/Img/P4.jpg" alt="" width="500px"  height="500px" id="pic">
            <!-- </ul> 
            <ul id="ul_ele"> -->
                <img src="http://127.0.0.1:5000/static/Img/p3.jpg" alt="" width="500px" height="500px" id="pic">
            <!-- </ul> 
            <ul id="ul_ele"> -->
                <img src="http://127.0.0.1:5000/static/Img/p2.jpg" alt="" width="500px" height="500px" id="pic">
            <!-- </ul>
            <ul id="ul_ele"> -->
                <img src="http://127.0.0.1:5000/static/Img/p3.jpg" alt="" width="500px" height="500px" id="pic">
            <!-- </ul>
            <ul id="ul_ele"> -->
                <img src="http://127.0.0.1:5000/static/Img/P4.jpg" alt="" width="500px"  height="500px" id="pic">
            <!-- </ul> -->
        </div>
    </div>
</body>
</html> 