<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration form</title>
    <link rel="stylesheet" href=" http://127.0.0.1:5000/static/style.css">
</head>
<body>
    <nav id="nav">
        <ul class="block1">
            <li class="parent">WEB PAGE</li>
        </ul>
        <ul class="block2">
            <li class="parent">
                <a href="/home" id="link">Home</a>
                <ol class="nav_ele">
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                    <li><a href="/gallary">GALLARY</a></li>
                    <li><a href="/home">LOGIN</a></li>
                    <li><a href="/home">CREATE ACCOUNT</a></li>
                </ol>
            </li>
            <li class="parent">
                <a href="/about" id="link">ABOUT</a>
            </li>
            <li class="parent">
                <a href="/contact" id="link">Contact</a>
                <ol class="nav_ele">
                    <li><a href="">PHONE NO</a></li>
                    <li><a href="">EMAIL</a></li>
                </ol>
            </li>
            <li class="parent">
                <a href="/gallary" id="link">Gallary</a>
            </li>
            <li class="parent">
                <a href="/home" id="link">login</a>
            </li>         
        </ul>
    </nav>

    <div id="box">
        <div id="reg">
            <h1>REGISTRATION</h1>
            <form action="/SignUp"  method="post">
            <div class="reg_ele" >
                <label for="">FIRST NAME:</label>
                <input type="text" name="fname" id=""><br>

                <label for="">LAST NAME:</label>
                <input type="text" name="lname" id=""><br>

                <label for="">EMAIL:</label>
                <input type="email" name="email" id=""><br>

                <label for="">PREFERED USERNAME:</label>
                <input type="text" name="username" id=""><br>

                <label for="">CREATE PASSWORD:</label>
                <input type="password" name="password" id=""><br>

                <label for="">UPLOAD PHOTO:</label>
                <input type="file" name="photo" id=""> <br>

                <label for=""></label>
                <input type="submit" value="SUBMIT" id="submit"><br>
            </div>
        </form>
        </div>
        <div id="login">
            <h1>LOGIN</h1>
            <div>
                <label for="">USER NAME:</label>
                <input type="text" name="name" id="name"><br>

                <label for="">PASSWORD:</label>
                <input type="password" name="pass" id="pass"><br>

                <label for=""></label>
                <input type="submit" value="SUBMIT" id="submit"><br>
           </div>
        </div>
                
    </div>
    
</body>
</html>